*.nohup
*.rdb
dbdata/
dbdata/mongodb/*
dbdata/redis/*
game-server/logs/*
.project
nohup.out
*/node-log.log
*/logs/*.log
*/logs/*
*.log
!.gitignore
**/node_modules/*
.project
.settings/
**/*.svn
*.svn
*.swp
*.sublime-project
*.sublime-workspace
lib/doc/
lib-cov/
coverage.html
.DS_Store
.idea/*
*.pyc
game-server/coverage/
*-v8.log
